html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: saiyanSans;
    src: url(manga-font.ttf);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: #FA0011;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    font-family: saiyanSans;
    color: #F3E603;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    position: relative;
    height: 90%;
}

.clue-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #076700 5px solid;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: auto;
    max-height: 20%;
    overflow-y: auto;
    scrollbar-width: none;
    position: relative;
    text-align: center;
}

.radar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    max-height: 50%;
    padding: 10px;
    position: relative;
}

.radar {
    width: 100%;
    height: 100%;
    position: relative;
}

.indicator {
    position: absolute;
    width: 3%;
    height: 2.5%;
    border-radius: 50%;
    background-color: #F3E603;
    animation: blink 1s infinite;
    box-shadow: #F3E603 0px 0px 20px 10px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#indicator-1 {
    top: 40%;
    left: 20%;
}

#indicator-2 {
    top: 25%;
    left: 50%;
}

#indicator-3 {
    top: 30%;
    left: 60%;
}

#indicator-4 {
    top: 55%;
    left: 25%;
}

#indicator-5 {
    top: 50%;
    left: 80%;
}

#indicator-6 {
    top: 78%;
    left: 45%;
}

#indicator-7 {
    top: 70%;
    left: 75%;
}

/* #indicator-1 {
    top: calc(55% - 4%);
    left: 48%;
}

#indicator-2 {
    top: calc(55% - 3.5%);
    left: calc(48% + 5%);
}

#indicator-3 {
    top: 55%;
    left: calc(48% + 7%);
}

#indicator-4 {
    top: calc(55% + 3.5%);
    left: calc(48% + 5%);
}

#indicator-5 {
    top: calc(55% + 4%);
    left: 48%;
}

#indicator-6 {
    top: calc(55% + 2.5%);
    left: calc(48% - 4%);
}

#indicator-7 {
    top: calc(55% - 1.5%);
    left: calc(48% - 4%);
} */


.ball-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
}

.ball-container {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20%;
    height: auto;
    max-width: 10vh;
}

.ball {
    height: 100%;
    width: 100%;
}

.ball-transparent {
    opacity: 0.5;

}

.ball-outlined {
    border-radius: 50%;
    box-shadow: #F3E603 0px 0px 10px 10px;
}